.burger_constructor {
  display: flex;
  flex-direction: column;
  width: 600px;
  height: 100%;
  color: var(--text-primary-color);
}

.fillings {
  flex-grow: 1;
  min-height: 80px;
  margin: 0;
  padding: 4px 0;
  overflow-y: auto;
  list-style: none;
}

.filling_item {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 16px;
}

.filling_item:last-child {
  margin-bottom: 0;
}

.footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.total {
  display: flex;
  align-items: center;
}
