.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.title {
  box-sizing: border-box;
  width: 1280px;
  max-width: 100%;
  padding: 0 20px;
}

.main {
  display: flex;
  gap: 64px;
  box-sizing: border-box;
  width: 1280px;
  max-width: 100%;
  padding: 0 20px;
}

.state {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 40px;
}

.list {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  gap: 24px;
  max-height: 70vh;
  margin: 0;
  padding: 0;
  padding-right: 16px;
  overflow-y: auto;
  list-style: none;
}

.stats {
  flex: 1 1 auto;
  min-width: 360px;
}

.columns {
  display: flex;
  gap: 64px;
}

.column {
  flex: 1 1 50%;
}

.column_lists {
  display: flex;
  gap: 24px;
}

.number_list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.number {
  margin-bottom: 8px;
}

.number_done {
  color: var(--colors-interface-success);
}

.total {
  text-shadow:
    0 0 16px rgb(51 51 255 / 25%),
    0 0 8px rgb(51 51 255 / 25%),
    0 4px 32px rgb(51 51 255 / 50%);
}
