.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 101;
  box-sizing: border-box;
  min-width: 720px;
  padding: 40px;
  background: var(--background-alt);
  border-radius: 40px;
  transform: translate(-50%, -50%);
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.close {
  margin-left: auto;
}

.title {
  margin: 0;
}
