.container {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.link {
  color: var(--colors-interface-accent);
  text-decoration: none;
}
